body {
    background-color: cornflowerblue;
}

.onetop{
    margin-bottom: 50px;
    text-align: center;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.staySame {
    float: left;
    padding: 20px;
    width: 20%;
    border-style: solid;
}

.change {
    float: left;
    padding: 20px;
    width: 20%;
    border-style: solid;
}

.futureTech {
    float: left;
    padding: 20px;
    width: 20%;
    border-style: solid;
}

.startup {
    float: left;
    padding: 20px;
    width: 20%;
    border-style: solid;
}