body {
    background: url(../images/whitey.png)
}


#mcpic {
    width: 40%;
    /* height: 50%; */
}

#aboutme {
    background: white;
}

.carouselimage {

    height: 400px;

}

.carousel-caption {

    background: black;

}


.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* small {
    font-size: 90%;

} */
/* .xxx {
    width: 15%;

} */