body {
    background: url(../images/whitey.png)
}

#mch1 {
    font-family: 'Meie Script', cursive;
    /* font-family: 'Marck Script', cursive; */
}

#mch2 {
    font-family: 'Gugi', cursive;
}

#mcnav {
    background: black;
    color: white;
}

/* .dropdown-item a:link {
    color: red;
} */


.carouselimage {

    height: 400px;

}

.carousel-caption {
    background: black;
}


.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

